<!DOCTYPE html>
<html>
<head>
	<title>Starting Wireframes: Gisella's Project 2 </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Righteous|Varela" rel="stylesheet">

</head>
<body>


    <div class="container-fluid">
<!-- Top Navigation Bar  -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
        <li class="active"><a class = "visible-phone" href="index.html">Gisella's Project 2: BikeFinder</a></li>
        <li><a href="https://trello.com/b/oAq48IA0/wdi-project-2-bikefinder">Trello User Stories & Sprints</a></li>
        <li><a href="orginal_wireframes.html">Original Wireframes</a></li> 
        <li><a href="readMe.md">ReadMe</a></li> 
      </ul>
 
    </div>
  </div>
</nav>
<!-- End of Top Navigation Bar  -->
<!-- <div class="container"> -->
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
          <li data-target="#carousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img class="center-block" src="../public/images/wireframes/screen1.png">
          </div>
          <div class="item">
            <img class="center-block" src="../public/images/wireframes/screen2.png">
          </div>
          <div class="item">
            <img class="center-block" src="../public/images/wireframes/screen3.png">
          </div>
          <div class="item">
            <img class="center-block" src="../public/images/wireframes/screen4.png">
          </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
  </div>
<!-- </div> /container
 -->


</div>
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../public/js/app.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>

</body>
</html>