
* {
font-family: 'Varela', sans-serif;
}
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
	    background-color: transparent;
}

.center {
	text-align: center;
}

.row {
 	margin: 30px 0
 	border: 1px black;
}
.margin-right {
	margin-right: 10px;
}
.margin-left {
	margin-left: 20px;
}

.logofont {
	font-family: 'Righteous', cursive;
	color: #2e6da4;
}
.center {
	text-align: center;
}
.xtra-padding {
	padding-top: 20px;
	padding-bottom: 30px;
}

/* Button & Form
-------------------------------------------------- */
.button-box {
	align-content: center;
	display: inline-block;
	padding: 10px 0px 20px 0px;
}

.btn {
	 letter-spacing:1px;
	 padding : 6px 15px;
	 border-radius: 0px;
	 margin-bottom: 10px;
	}

.form-control {
	border-radius: 0px;
	}

/* Sticky footer 
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height
  -------------------------------------------------- */
  margin-bottom: 60px;
}

/*Box for footer
	-------------------------------------------------- */
.footer { 
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}

/*Display styling for footer links*/
.footnav { 
	list-style :none;
	padding:0;
	margin:0;
	padding-top: 20px;
}

/* Dotted Horizontal Line Styling 
-------------------------------------------------- */
.dotted {
	border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
}

.footnav {/*Display styling for footer links*/
	display:flex;
	justify-content: space-between;
}

.first-li {
	padding-left: 40px;
}
.last-li { 
	padding-right: 40px; 
}
/* Styling for the result boxes
-------------------------------------------------- */
.result-box {
	padding:20px;
	display: block;
	float: left;
	border-radius: 0px;
	border: 1px solid;
	border-color: red;
	margin: 5px 5px 5px 0px;

}

.button-box {
	display: block;
	float: left;
	border-radius: 2px;
	margin: 5px 5px 10px 0px;
}

/* Responsive Image styling
-------------------------------------------------- */
.imgwrapper {
   width: 95%;
  /* margin-bottom: 30px;*/
}

#results-map {
	margin-left: 0;
	margin-top: 20px;
}
/* Styling For the  Collapsable Hours Menu For Place Results Page
-------------------------------------------------- */
.hours {
	width: 100%;
	border: 1px grey;
}

.table>tbody>tr>td {
	padding:4px;
}


/* Styling For the Checkboxes-------------------------------------------------- */
input[type=checkbox] + label {
  color: #999999;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: green;
  font-style: normal;
} 
/*
Fixed Top Nav Bar Styling------------------------------------------------- */
.navbar-brand {
/*    float: left;*/
    font-size: 15px;
    position: absolute;
   	margin: 0;
}

.navbar-inverse .navbar-nav>li>a {
    list-style: none;
    margin: 0;
  	padding-top: 12px;
}

/*Map Div Styling--------------------------------------------------------------*/

#results-map {
	height: 100%;
	padding:0px;
	margin: 0px;
}